body {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.background {
    width: 100%;
    height: aut0;
    background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.52), rgba(19, 19, 19, 0.73)), url(./images/bg_2.jpg.webp);
    background-size: cover;
    color: white;
}

.numeric-p {
    color: rgba(255, 255, 255, 0.774);
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    font-weight: 400;
}

.navbar1 {
    font-size: 14px !important;
    font-weight: 600;
}

.navbar1:hover {
    color: #c8a97e !important;
}

.bg-1 {
    background-color: #c8a97e !important;
    border: #c8a97e !important;
}

.heading {
    font-size: 80px;
    color: #c8a97e;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 0;
    line-height: 1;
}

.heading-large {
    font-size: 60px;
    color: #fff;
    line-height: 1.5;
    font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
}

.dishes {
    background-image: url(./images/breakfast-1.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.dishes2 {
    background-image: url(./images/breakfast-2.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.dishes3 {
    background-image: url(./images/breakfast-3.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.dishes4 {
    background-image: url(./images/breakfast-4.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.gallery-1 {
    width: 310px;
    height: 480px;
    background-image: url(./images/about-1.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gallery-2 {
    margin-top: 20px;
    width: 310px;
    height: 480px;
    background-image: url(./images/about-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.paragraph {
    color: rgba(91, 91, 91, 0.5);
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    font-weight: 400;
}

.numeric {
    font-size: 40px;
    font-weight: 700;
    color: rgb(200, 169, 126);
}

.bg-gradient {
    background-color: rgb(238, 238, 238);
}

.icon {
    color: #c8a97e;
}

.food1 {
    height: 240px;
    width: 100%;
    background-image: url(./images/breakfast-1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.food2 {
    height: 240px;
    width: 100%;
    background-image: url(./images/breakfast-2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.food3 {
    height: 240px;
    width: 100%;
    background-image: url(./images/breakfast-3.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.food4 {
    height: 240px;
    width: 100%;
    background-image: url(./images/breakfast-4.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.chef1 {
    height: 300px;
    width: 100%;
    background-image: url(./images/chef-1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.chef2 {
    height: 300px;
    width: 100%;
    background-image: url(./images/chef-2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.chef3 {
    height: 300px;
    width: 100%;
    background-image: url(./images/chef-3.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.chef4 {
    height: 300px;
    width: 100%;
    background-image: url(./images/chef-4.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.button-1 {
    color: #c8a97e !important;
    border-color: #c8a97e !important;
}

.button-1:hover {
    background-color: #c8a97e !important;
    color: #fff !important;
}

.form-background {
    width: 100%;
    height: 180vh;
    background-image: url(./images/bg_3.jpg\ \(1\).webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-w {
    width: 50% !important;
}

.customer {
    background-image: url(./images/person_1.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.customer2 {
    background-image: url(./images/person_2.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.customer3 {
    background-image: url(./images/person_3.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.customer4 {
    background-image: url(./images/person_1.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 991.98px) {
    .heading-large {
        font-size: 30px;
        color: #fff;
        line-height: 0.7;
        font-family: "Poppins", Arial, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 400;
    }
}

@media (max-width: 768.98px) {
    .form-w {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .numeric {
        font-size: 20px;
        font-weight: 400;
        color: rgb(200, 169, 126);
    }
    .heading-large {
        font-size: 20px;
        color: #fff;
        line-height: 0.3;
        font-family: "Poppins", Arial, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 300;
    }
}